@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --navy-blue: #04009A;
    --navy-blue-disabled: #242161;
    --fade-purple: #77ACF1;
    --blue: #3EDBF0;
    --cold: #C0FEFC;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: aliceblue;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:   var(--fade-purple);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:   var(--fade-purple);
}